---
layout: default
title: Scott Ni
---
{% include JB/setup %}

<div class="hero-unit">
  <h1>Scott Ni</h1>
  <p>
    Pythoner NLP 算法 数据挖掘 DL...
  </p>
</div>


<h2 style="padding-top: 0.5em; margin-bottom: 0.5em;">
  Recent Posts
  <a href="/blog" class="view-more">view all posts</a>
</h2>
<ul class="posts">
  {% for post in site.posts limit 10 %}
  <li>
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
  </li>
  {% endfor %}
</ul>
